@import url(./img/Pokeball_Background.jpg);

* {
  box-sizing: border-box;
}

body {
  background-image: url(./img/Pokeball_Background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-clip: border-box;
  background-origin: padding-box;
  background-position: center center;
  background-size: cover;
  height: 100vw;
}

body::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .1;
}