@font-face {
	font-family: 'Pokemon GB';
	src: url(../font/PokemonGb-RAeo.ttf);
}

:root {
	--box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

* {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
	background: lightgray;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #000;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url(../img/pokeball.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-clip: border-box;
	background-origin: padding-box;
	background-position: center center;
	background-size: cover;
	font-family: 'Pokemon GB';
	font-size: 1.5rem;
	color: #fff;
	height: 100vh;
	overflow: hidden;
}

body::before {
	content: '';
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.2;
}

.navbar {
	width: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
}

/* Input Group */

.form-inline .btn:hover {
	transform: none;
}

.input-group {
	display: flex;
	align-items: center;
	justify-content: center;
  padding: 5px;
}

.input-group .btn {
	display: flex;
	align-items: center;
	justify-self: center;
	height: 38px;
}

.input-group .btn:hover {
  filter: brightness(90%)
}

.input-group .btn:active {
  transform: scale(.95);
}

.form-control {
	margin-right: 10px;
}

.form-control:focus {
  outline: none;
  box-shadow:none;
}
/* ///////////////////////////////////////////////////////// */
/* Utility */
.hidden {
	display: none;
}

.scrollable {
	overflow-y: scroll;
}
/* ////////////////////////////////////////////////////////// */
.pokedex-logo {
	width: 300px;
	z-index: 1;
}

.loading-icon {
  position: absolute;
  inset: 0;
}

.loading-icon img{
	width: 200px;
}

.pokemon-container {
  position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	background-color: rgba(102, 106, 109, 0.9);
	z-index: 1;
	padding: 1rem;
	margin: 20px;
	height: 500px;
	border-radius: 0.8rem;
	box-shadow: --box-shadow;
	list-style-type: none;
	text-align: center;
	overflow-x: hidden;
}

/* Modal */
.pokemon-info {
	width: 70%;
	display: inline-block;
	text-align: center;
	font-size: 1.7rem;
	transform: translateY(-50px);
}

.close-btn {
	position: absolute;
	right: 5px;
	top: 5px;
	border: none;
	font-family: inherit;
	font-size: 1.5rem;
	background-color: transparent;
	cursor: pointer;
}

.close-btn:active {
	transform: scale(0.95);
}

.pokemon-name {
	margin-top: 20px;
}

.pokemon-sprite-lg {
	width: 300px;
	margin: 0;
	padding: 0;
}

.modal-header {
display: flex;
align-items: center;
justify-content: center;
}

.modal-title {
  font-size: 1.6rem;
}

.modal-dialog {
	background-color: whitesmoke;
	color: #000;
	border-radius: 0.8rem;
	text-align: center;
  font-size: 1rem;
}

.modal-body p {
  font-size: 1.5rem;
}

/* /////////////////////////////////////////////////////// */

/* Button */
.btn {
	border: none;
	padding: 0.8rem;
	margin: 5px 0;
	font-family: inherit;
	font-size: 1rem;
	background-color: whitesmoke;
	cursor: pointer;
	transition: transform 0.2s ease;
}

.btn:hover {
	transform: scale(1.1);
}

.btn:active {
	transform: scale(1);
}

.btn:focus {
  box-shadow: none;

}

@media screen and (max-width: 500px) {
  .pokemon-container {
    grid-template-columns: 1fr;
  }

  .modal-body p {
    font-size: 1.2rem;
  }

}